<aside ng-class="{shrink: $ctrl.isShrink}">
  <header class="sharp-logo">
    <span ng-hide="$ctrl.isShrink">测试架构</span>
    <span class="pointer" ng-click="$ctrl.isShrink = !$ctrl.isShrink" ng-class="'icon_' + ($ctrl.isShrink ? 'expand' : 'shrink')" ng-bind="$ctrl.isShrink ? '>>': '<<'">点击</span>
  </header>
  <ul id="accordion" class="accordion">
    <li ng->
      <div class="link" ng-click="">
        <i class="fa fa-paint-brush"></i>
        <span ng-hide="$ctrl.isShrink">
          首页<i class="fa fa-chevron-down"></i>
        </span>
      </div>
      <ul class="submenu" ng-hide="$ctrl.isShrink">
        <li ui-sref-active="active"><a ui-sref="home1({})">首页一</a></li>
        <li ui-sref-active="active"><a href="#">首页二</a></li>
        <li ui-sref-active="active"><a href="#">首页三</a></li>
        <li ui-sref-active="active"><a href="#">首页四</a></li>
      </ul>
    </li>
    <li>
      <div class="link">
        <i class="fa fa-code"></i>
        <span ng-hide="$ctrl.isShrink">
          Desarrollo front-end<i class="fa fa-chevron-down"></i></div>
        </span>
      <ul class="submenu" ng-hide="$ctrl.isShrink">
        <li><a href="#">Javascript</a></li>
        <li><a href="#">jQuery</a></li>
        <li><a href="#">Frameworks javascript</a></li>
      </ul>
    </li>
    <li>
      <div class="link">
        <i class="fa fa-mobile"></i>
        <span ng-hide="$ctrl.isShrink">
          Diseño responsive<i class="fa fa-chevron-down"></i></div>
        </span>
      <ul class="submenu" ng-hide="$ctrl.isShrink">
        <li><a href="#">Tablets</a></li>
        <li><a href="#">Dispositivos mobiles</a></li>
        <li><a href="#">Medios de escritorio</a></li>
        <li><a href="#">Otros dispositivos</a></li>
      </ul>
    </li>
    <li>
      <div class="link">
        <i class="fa fa-globe"></i>
        <span ng-hide="$ctrl.isShrink">
          Posicionamiento web<i class="fa fa-chevron-down"></i></div>
        </span>
      <ul class="submenu" ng-hide="$ctrl.isShrink">
        <li><a href="#">Google</a></li>
        <li><a href="#">Bing</a></li>
        <li><a href="#">Yahoo</a></li>
        <li><a href="#">Otros buscadores</a></li>
      </ul>
    </li>
  </ul>
</aside>
