monitor {
  header {
    margin: 20px 5px;
    display: flex;
    justify-content: space-between;

    .app-selector {
      width: 150px;
    }
  }

  .active {
    .nav-link {
      color: #00A5D5 !important;
    }
  }

  .fa {
    margin-right: 5px;
  }

  .tabs {
    margin: 10px 0;
  }

  .container {
    display: flex;
    margin-top: 10px;

    tip-menu {
    }

    section {
      flex: 1;
      padding: 0 10px;
    }
  }
}
